/* global */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  background-color: #F7F7F7;
  min-height: 100vh;
  font-family: 'Rubik';
  font-weight: normal;
  font-style: normal;
  color: #282828;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.wrapper {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 30px;
}

.title {
  font-weight: 700;
  font-size: 48px;
  text-align: center;
}

/* global */

/* header */
.header {
  background-color: #FDE2B7;
  padding: 30px 0;
  position: relative;
  z-index: 1;
}

.header__hamburger-menu {
  display: none;
}

.header__menu__item {
  font-size: 18px;
  transition: all .4s !important;
}

.header__menu__item:hover {
  color: #258F67;
}

.header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-weight: 700;
  font-size: 34px;
}

.header__menu {
  max-width: 437px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.header__menu__items {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.header__select {
  outline: none;
  font-weight: 500;
  border: none;
  background: transparent;
}

/* header */

/* section main */
.main {
  position: relative;
  background-color: #FDE2B7;
  overflow: hidden;
  height: calc(100vh + 180px);
  margin-top: -101px;
}

.main .wrapper {
  height: 100%;
}

.main__container {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}

.main__content {
  max-width: 49%;
  margin-right: 100px;
}

.main__title {
  text-align: left;
  font-size: 54px;
}

.main__img img {
  height: 100%;
  max-height: 900px;
}

.main__descript {
  font-size: 24px;
  line-height: 140%;
  margin: 25px 0 30px;
}

.main__btn {
  outline: 2px solid rgba(40, 40, 40, 0.4);
  background: transparent;
}

.btn {
  padding: 27px 61px;
  font-weight: 700;
  line-height: 140%;
  transition: all .4s !important;
  font-size: 16px;
  border-radius: 10px;
  border: none;
}

.main__btn:hover {
  background: #258F67;
  color: #fff;
  outline: none;
}

.main__img {
  position: relative;
  height: 70%;
  margin-top: -30px;
  max-height: 820px;
}

.main__bg__png {
  bottom: 0px;
  position: absolute;
  max-height: 180px;
  left: 0;
  width: 100%;
}

.main__bg__png img {
  width: 100%;
  height: 100%;
}

.icon__block {
  background: #00821B;
  opacity: 0.2;
  border-radius: 6px;
  transform: rotate(-45deg);
}

.icon__blocks {
  position: absolute;
  top: 3%;
  right: 10%;
}

.icon__block_1 {
  height: 22.627421945511834px;
  width: 22.627421945511834px;
}

.icon__block_2 {
  position: relative;
  height: 32.526915947231785px;
  width: 32.526915947231785px;
  right: 34px;
  top: 6px;
}

.icon__block_3 {
  Width: 43.84px;
  Height: 43.84px
}

.icon_one_block {
  height: 59.99999897314374px;
  width: 59.99999897314374px;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* section main */

/* main */

main {
  position: relative;
}

main::after {
  position: absolute;
  top: 0;
  z-index: -1;
  right: 0;
  content: url(../graphic/images/png/main-bg-icon.png);

}

/* main */

/* projects */
.projects {
  padding: 60px 0 148px;
}

.projects .wrapper {
  position: relative;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects .icon__blocks {
  top: unset;
  bottom: -86px;
  left: 60px;
  z-index: -1;
}

.projects__cards {
  display: flex;
  width: 100%;
  margin-top: 99px;
  justify-content: space-between;
}

.projects__card__content {
  padding: 20px 30px;
  min-height: 230px;
  background: #FCFCFC;
  border-radius: 0px 0px 10px 10px;
  transition: all .4s !important;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.projects__card__content::after {
  content: '';
  position: absolute;
  width: 100%;
  transition: all .4s !important;
  bottom: 0;
  left: 0;
  height: 10px;
  border-radius: 0px 0px 10px 10px;
  border-bottom: 3px solid #258F67;
  opacity: 0;
}

.projects__card:hover .projects__card__content {
  background: #FDE2B7;
}

.projects__card:hover .projects__card__content::after {
  opacity: 1;
}

.projects__card__name {
  font-size: 24px;
}

.projects__card__descript {
  margin: 5px 0 10px;
  font-family: 'Arimo';
}

.projects__card__price span {
  font-weight: 500;
  color: #258F67;
}

.projects__card__price {
  font-weight: 600;
}

.projects__card__btn {
  background: #258F67;
  box-shadow: 0px 4px 10px rgb(37 143 103 / 20%);
  border-radius: 5px;
  border: none;
  margin-top: 30px;
  display: block;
  color: #fff;
  transition: all .4s !important;
  padding: 16px 44px;
}

.projects__card__btn:hover {
  background: #1E664B;
}

.projects__card {
  margin: 0 7px;
  filter: drop-shadow(0px 0px 20px rgba(164, 164, 164, 0.3));
}

.projects__card__img img {
  width: 100%;
  object-fit: cover;
  height: 270px;
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px 10px 0 0;
}

.projects__btn {
  margin-top: 37px;
  background: transparent;
  outline: 1px solid #258F67;
  font-weight: 400;
  padding: 15px 50px;
}

.projects__btn:hover {
  color: #fff;
  outline: none;
  background-color: #258F67;
}

/* projects */

/* about */
.about {
  background: url(../graphic/images/png/about-bg.png) no-repeat center;
  padding: 70px 0 77px;
}

.about__img::after, .about__img::before {
  width: 42%;
  height: 63%;
  content: '';
  position: absolute;
  top: -37px;
  left: -37px;
  border: 2px solid #258F67;
  border-bottom: none;
  border-right: none;
  border-top-left-radius: 30px;
}

.about__img::before {
  top: unset;
  left: unset;
  bottom: -37px;
  right: -37px;
  transform: rotate(180deg);
}

.about__img {
  margin-right: 37px;
  position: relative;
}

.about__img img {
  border-radius: 30px;
}

.about__contante {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 64px;
}

.about__txt {
  max-width: 460px;
  font-family: 'Arimo';
  font-size: 22px;
  line-height: 170%;
  margin-right: 100px;
}

/* about */

/* tasks */
.tasks {
  padding: 70px 0 220px;
}

.tasks .wrapper {
  position: relative;
  padding: 0;
}

.tasks__cards {
  display: flex;
  justify-content: space-between;
  margin-top: 74px;
}

.tasks__card {
  max-width: 400px;
  padding: 30px 25px 50px 15px;
  margin: 0 10px;
  background: #F7F7F7;
  box-shadow: -4px -4px 25px #FFFFFF, 4px 4px 13px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.tasks__card__title {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 26px;
  align-items: center;
}

.tasks__card__txt {
  font-family: 'Arimo';
  line-height: 140%;
  margin-top: 15px;
}

.circle {
  position: absolute;
  top: 34%;
  z-index: -1;
  left: 25%;
  border-radius: 50%;
  width: 176px;
  height: 176px;
  border: 30px solid #258F67;
  opacity: 0.2;
}

/* tasks */

/* mission */

.mission {
  position: relative;
  background: none;
  overflow: hidden;
  padding: 70px 0 120px;
}

.mission .wrapper {
  position: relative;
  z-index: 1;
}

.mission__img {
  margin-left: 37px;
  margin-right: 0;
}

.mission__txt {
  margin-left: 100px;
  margin-right: 0;
}

.cloud {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40%;
}

.cloud-2 {
  position: absolute;
  top: 10%;
  right: 6%;
  width: 20%;
}

/* mission */

/* footer */
.footer {
  background: #FDE2B7;
}

.footer a {
  display: block;
}

.footer .wrapper {
  padding: 70px 30px 66px;
}

.footer__column__el {
  font-size: 18px;
  margin-bottom: 15px;
}

.footer__column__el_title {
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 27px;
  text-transform: uppercase;
}

.footer__column_2 .footer__column__el {
  text-transform: uppercase;
  font-size: 18px;
}

.footer__column_2 .footer__column__el_title {
  font-size: 24px;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
}

.footer__copyright {
  background: #282828;
  color: #F7F7F7;
  font-size: 12px;
}

.footer__copyright .wrapper {
  padding: 18px 30px;
}

/* footer */

/* project-info */

.project-info__info {
  padding: 118px 0 66px;
}

.project-info__info .wrapper {
  display: flex;
  justify-content: space-between;
}

.project-info__info__cont div {
  margin-bottom: 24px;
  font-size: 24px;
}

.project-info__info__cont .project-info__info__price {
  font-weight: 500;
  font-size: 36px;
}

.project-info__info__cont .project-info__info__name {
  font-size: 36px;
}

.project-info__info__help {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-info__info__btn {
  background: #258F67;
  margin-top: 40px;
  color: #F7F7F7;
  transition: all .4s !important;
  padding: 22px 61px;
}

.project-info__info__btn:hover {
  background: #1E664B;
}

.project-info__info__img {
  max-width: 350px;
}

.project-info__gallery {
  background: #282828;
  padding: 63px 0;
}

.project-info__gallery .wrapper {
  display: flex;
  justify-content: space-between;
}

.project-info__gallery__video {
  width: 100%;
  display: flex;
  max-width: 48%;
  align-items: center;
}

.project-info__gallery__video iframe {
  width: 100%;
  height: 100%;
  max-height: 532px;
}

.project-info__gallery__photos {
  display: flex;
  max-width: 48%;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project-info__gallery__photo {
  margin: 12px 0;
  max-width: 242px;
}

.project-info__history {
  padding: 50px 0 78px;
}

.project-info__history__title {
  font-weight: 400;
  font-size: 36px;
  text-align: left;
  padding-left: 25px;
}

.project-info__history__txt {
  border: 1px solid #949494;
  padding: 25px;
  font-size: 18px;
}

.project-info__history__txt p {
  margin-bottom: 20px;
}

/* project-info */

/* projects-body */

.projects__main {
  padding: 100px 0 123px;
}

.projects__title {
  font-weight: 400;
  font-size: 48px;
}

.projects__cards {
  margin-top: 59px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.projects__card {
  margin: 0 7px 40px 7px;
}

/* projects-body */


/* burger-menu */

#menu__toggle {
  opacity: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
  display: block;
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #282828;
}

.menu__btn>span::before {
  content: '';
  top: -10px;
}

.menu__btn>span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

.menu__item:hover {
  background-color: #CFD8DC;
}

#menu__toggle:checked~.menu__btn>span {
  transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
  top: -2px;
  transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
  visibility: visible;
  right: 0;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
  transition-duration: .25s;
}

.menu__box {
  transition-duration: .25s;
}

.menu__item {
  transition-duration: .25s;
}

/* burger-menu */