 /*desktop */
 @media screen and (max-width: 1290px) {
 	/* global */
 	/* global */

 	/* navbar */
 	/* navbar */

 	/* header */
 	.main__title {
 		font-size: 40px;
 	}

 	.main__descript {
 		font-size: 22px;
 	}

 	.main__content {
 		max-width: 61%;
 		margin-right: 42px;
 	}
 	/* header */

 	/* content */
 	/* content */

 	/* footer */
 	/* footer */
 }

 /* netbook */
 @media screen and (max-width: 1024px) {
 	/* global */
 	/* global */

 	/* navbar */
 	/* navbar */

 	/* header */
 	/* header */

 	/* content */
 	/* content */

 	/* footer */
 	/* footer */
 }

 /* tablet */
 @media screen and (max-width: 996px) {
 	/* global */
 	/* global */

 	/* navbar */
 	/* navbar */

 	/* header */
 	/* header */

 	/* content */
 	/* content */

 	/* footer */
 	/* footer */
 }

 /* mini tablet */
 @media screen and (max-width: 600px) {
 	/* global */
 	/* global */

 	/* navbar */
 	/* navbar */

 	/* header */
 	/* header */

 	/* content */
 	/* content */

 	/* footer */
 	/* footer */
 }

 /* mobile */
 @media screen and (max-width: 420px) {
 	/* global */
 	/* global */

 	/* navbar */
 	/* navbar */

 	/* header */
 	/* header */

 	/* content */
 	/* content */

 	/* footer */
 	/* footer */
 }