 /*desktop */
 @media screen and (max-width: 1290px) {

 	/* main */
 	.main__title {
 		font-size: 40px;
 	}

 	.main__descript {
 		font-size: 22px;
 	}

 	.main__content {
 		max-width: 61%;
 		margin-right: 42px;
 	}

 	/* main */
 }

 /* netbook */
 @media screen and (max-width: 1024px) {
 	/* global */
 	/* global */

 	/* navbar */
 	/* navbar */

 	/* header */
 	/* header */

 	/* content */
 	/* content */

 	/* footer */
 	/* footer */
 }

 /* tablet */
 @media screen and (max-width: 996px) {

 	/* global */
 	.title {
 		font-size: 38px;
 	}

 	/* global */
 	/* main */
 	.main__img {
 		height: auto;
 	}

 	.main__descript {
 		line-height: 130%;
 		font-size: 16px;
 	}

 	.main__title {
 		font-size: 30px;
 	}

 	/* main */

 	/* projects */
 	.projects__card__name {
 		font-size: 20px;
 	}

 	.projects__card__content {
 		padding: 20px 15px;
 	}

 	.projects {
 		padding-bottom: 88px;
 	}

 	/* projects */

 	/* about */
 	.about__txt {
 		font-size: 18px;
 		max-width: 50%;
 		margin-right: 50px;
 		line-height: 140%;
 	}

 	.about__img::after {
 		top: -15px;
 		left: -15px;
 	}

 	.about__img::before {
 		bottom: -15px;
 		right: -15px;
 	}

 	.about {
 		padding-bottom: 0;
 	}

 	/* about */

 	/* tasks */
 	.tasks__card {
 		max-width: 330px;
 		margin-bottom: 20px;
 	}

 	.tasks__cards {
 		justify-content: center;
 		flex-wrap: wrap;
 	}

 	.tasks {
 		padding-bottom: 50px;
 	}

 	/* tasks */
 }

 /* mini tablet */
 @media screen and (max-width: 600px) {
 	/* global */
 	/* global */

 	/* navbar */
 	/* navbar */

 	/* header */
 	/* header */

 	/* content */
 	/* content */

 	/* footer */
 	/* footer */
 }

 /* mobile */
 @media screen and (max-width: 420px) {
 	/* global */
 	/* global */

 	/* navbar */
 	/* navbar */

 	/* header */
 	/* header */

 	/* content */
 	/* content */

 	/* footer */
 	/* footer */
 }